<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Encryption</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

    <div class="container">
        <br>
        <h3 class="text-center">
            Text Encryption & Decryption
        </h3>
        <br><br>

        <form action="/" method="post">
            <div class="form-group container">
                <label for="name">Enter text :</label>
                <br><br>
                <input type="text" name="name" placeholder="Enter some text" required><br><br>
                <label for="technique">Select encryption technique : </label>
                <select name="technique">
                    <option value="none" selected disabled hidden>Select one</option>
                    <option value="op1" name="op1">AES</option>
                    <option value="op2" name="op2">TDES</option>
                    <option value="op3" name="op3">RSA</option>
                    <option value="op4" name="op4">Blowfish</option>
                    <option value="op5" name="op5">ECC</option>
                </select>
                <br>
            </div>
            <div class="form-group container">
                <button class="btn btn-primary">
                    Encrypt Text
                </button>
            </div>
        
            <br><br>
            
        </form>

        <form action="/enc" method="post">
            <div class="form-group container">
                <label for="name1">Encrypted text :</label>
                <br><br>
                <input type="text" name="name1" placeholder="Enter encrypted text" required><br><br>
            </div>
            <div class="form-group container">
                <button class="btn btn-success">
                    Decrypt Text
                </button>
            </div>
        </form>
        
    </div>
  
</body>
</html>