<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Encryption</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        body {
            background-image: url('https://www.woodmac.com/siteassets/article-images/2019/q2/homepage-image-v2.png?width=800&height=400&mode=crop&center=0.5,0.5');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
            
        }
        button {
            position: relative;
            display: inline-block;
            padding: 15px 30px;
            color: #2196f3;
            text-transform: uppercase;
            letter-spacing: 2px;
            text-decoration: none;
            font-size: 24px;
        }

        button:hover {
            color: #255784;
            box-shadow: 0 0 10px #eaedf0, 0 0 40px #eaedf0, 0 0 80px #eaedf0;
        }
    </style>   
</head>
<body>
    <div class="container">
        <h1 class="text-center" style="color: #ffff;">
            Image Encryption & Decryption
        </h1>
        <br><br>

        <!-- frontend for uploading and encrypting image -->
        <form action="/encode" method="post" enctype="multipart/form-data">
            <div class="form-group container"style="color: #ffff;">
                <label for="file">Upload Image :</label>
                <br><br>
                <input class="form-control" type="file" name="file" id="" style="width: 30%;" required>
            </div> 
            <br>
            <div class="form-group container">
                <button class="btn btn-primary">
                    Encrypt Image
                </button>
            </div>
        </form>

        <!-- frontend for uploading the encrypted image and decrypting it -->
        <form action="/decode" method="post" enctype="multipart/form-data">
            <div class="form-group container">
                <br><br>
                <label for="file"style="color: #ffff;">Upload Encrypted Image :</label>
                <br><br>
                <input class="form-control" type="file" name="file" id="" style="width: 30%;" required>
            </div>
            <br>
            <div class="form-group container">
                <button class="btn btn-success">
                    Decrypt Image
                </button>
            </div>
        </form>

    </div>
</body>
</html>