<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Encryption</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <style>
        body {
            background-image: url('https://www.thomsonreuters.com/en-us/posts/wp-content/uploads/sites/20/2021/05/QA-Bock-image-800x450.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
            
        }
        button {
            position: relative;
            display: inline-block;
            padding: 15px 30px;
            color: #2196f3;
            text-transform: uppercase;
            letter-spacing: 2px;
            text-decoration: none;
            font-size: 24px;
        }

        button:hover {
            color: #255784;
            box-shadow: 0 0 10px #eaedf0, 0 0 40px #eaedf0, 0 0 80px #eaedf0;
        }
    </style>    
</head>
<body>

    <div class="container">
        <br>
        <h1 class="text-center" style="color: #ffff;">
            Text Encryption & Decryption
        </h1>
        <br><br>

            <!--frontend to input text and select technique-->
            <div class="form-group container">        
                <label for="name" style="color: #ffff;">Enter text :</label>
                <br><br>
                <input type="text" id="name" name="name" placeholder="Enter some text" required><br><br>

                <label for="technique"style="color: #ffff;">Select encryption technique : </label>

                <select name="technique" id="select">
                    <option value="none" selected disabled hidden>Select one</option>
                    <option value="rsa" name="rsa">RSA</option>
                    <option value="tdes" name="tdes">TDES</option>
                    <option value="aes" name="aes">AES</option>
                </select>

                <br>
                <div id="encryptedText" style="color: #ffff; width: 50%; word-wrap:break-word;">
                </div>
            </div>

            <div class="form-group container">
                <button class="btn btn-primary" onclick="techselect(document.getElementById('select').value)">
                    Encrypt Text
                </button>
            </div>

            <br>
            <div class="form-group container">
                
            </div>

            <!--frontend to input encrypted text and decrypt using selected technique-->
            <div class="form-group container">
                <label for="name1" style="color: #ffff;">Encrypted text :</label>
                <br><br>
                <input type="text" id="name1" name="name1" placeholder="Enter encrypted text" required><br><br>

                <div id="decryptedText" style=" color:#ffff; width:50%;">
                </div>

            </div>
            <div class="form-group container">
                <button class="btn btn-success" onclick="techselect1(document.getElementById('select').value)">
                    Decrypt Text
                </button>
            </div>
        
    </div>
  
</body>

<script>
    function techselect(value)                      //ajax call for text encryption
    {
        console.log(value);
        console.log(document.getElementById("name").value);
        $.ajax({
            type: 'POST',
            url: '/encrypt',
            data: {
                'text':document.getElementById("name").value,
                'type':value
            },
            success: function(encryptedText) {               //displaying the encrypted text on webpage
                var html = '';
                html += '<h3>Encrypted text is:<h3><h5><b>' + encryptedText + '</b></h5>';
                $('#encryptedText').html(html);
            }
            });

    }
    function techselect1(value)                         //ajax call for text decryption
    {
        console.log(value);
        console.log(document.getElementById("name1").value);
        $.ajax({
            type: 'POST',
            url: '/decrypt',
            data: {
                'text':document.getElementById("name1").value,
                'type':value
            },
            success: function(decryptedText) {              //displaying the decrypted text on webpage
                var html = '';
                html += '<h3>Decrypted text is:<h3><h5><b>' + decryptedText + '</b></h5>';
                $('#decryptedText').html(html);  
            }
            });

    }
</script>

</html>