<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Encryption</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    
</head>
<body>

    <div class="container">
        <br>
        <h3 class="text-center">
            Text Encryption & Decryption
        </h3>
        <br><br>

        <!-- <form action="/" method="post"> -->
            <div class="form-group container">
                <label for="name">Enter text :</label>
                <br><br>
                <input type="text" id="name" name="name" placeholder="Enter some text" required><br><br>

                <label for="technique">Select encryption technique : </label>

                <select name="technique" id="select">
                    <option value="none" selected disabled hidden>Select one</option>
                    <option value="rsa" name="rsa">RSA</option>
                    <option value="tdes" name="tdes">TDES</option>
                    <option value="aes" name="aes">AES</option>
                    <option value="blowfish" name="blowfish">Blowfish</option>
                </select>

                <br>
                <div id="encryptedText">
                </div>
            </div>

            <div class="form-group container">
                <button class="btn btn-primary" onclick="techselect(document.getElementById('select').value)">
                    Encrypt Text
                </button>
            </div>

            <br>
            <div class="form-group container">
                
            </div>
            
            <br><br>
            
        <!-- </form> -->

        <!-- <form action="/enc" method="post"> -->
            <div class="form-group container">
                <label for="name1">Encrypted text :</label>
                <br><br>
                <input type="text" id="name1" name="name1" placeholder="Enter encrypted text" required><br><br>

                <div id="decryptedText">
                </div>

            </div>
            <div class="form-group container">
                <button class="btn btn-success" onclick="techselect1(document.getElementById('select').value)">
                    Decrypt Text
                </button>
            </div>
       <!-- </form> --> 
        
    </div>
  
</body>

<script>
    function techselect(value) 
    {
        console.log(value);
        console.log(document.getElementById("name").value);
        $.ajax({
            type: 'POST',
            url: '/encrypt',
            data: {
                'text':document.getElementById("name").value,
                'type':value
            },
            success: function(encryptedText) {
                var html = '';
                html += '<h3>Encrypted text is:<h3><h5><b>' + encryptedText + '</b></h5>';
                $('#encryptedText').html(html);
            }
            });

    }
    function techselect1(value) 
    {
        console.log(value);
        console.log(document.getElementById("name1").value);
        $.ajax({
            type: 'POST',
            url: '/decrypt',
            data: {
                'text':document.getElementById("name1").value,
                'type':value
            },
            success: function(decryptedText) {
                var html = '';
                html += '<h3>Decrypted text is:<h3><h5><b>' + decryptedText + '</b></h5>';
                $('#decryptedText').html(html);
            }
            });

    }
</script>

</html>