<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Encryption</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

    <h1 class="text-center">
        Encryption and Decryption !!!
    </h1>
    <br><br>
<center>
    <a href="index">
        <button style="color:black;border-radius:5px">Text Encryption</button>
    </a>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <a href="index1">
        <button style="color:black;border-radius:5px">Image Encryption</button>
    </a>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <a href="index2">
        <button style="color:black;border-radius:5px">File Encryption</button>
    </a>
</center>
</body>
</html>